body {
	background-color: #a8dadc;
	display: flex;
	justify-content: space-evenly;
	
}
h1,
p {
	text-align: center;
}
button {
	margin-left: 10px;
	height: 30px;
}
.column {
	width: 10rem;
}
.column .row:first-child {
	background-color: #7899bb;
}
.column .row {
	height: 6rem;
	background-color: rgba(245, 222, 179, 0.80);
	padding: 1rem;
	border: 2px solid black;
	border-radius: 100%;
	margin: 3px;
}
.row.yellow {
	background-color: yellow;
	transition: all 0.5s;
}
.row.red {
	background-color: red;
	transition: all 0.5s;
}

#game-container {
	background-color: #1d3557;
	border: 7px solid black;
	border-radius: 8px;
	display: flex;
	justify-content: space-evenly;
}
#button {
	display: flex;
	justify-content: center;
	align-items: center;
}